<% content_for :content do %>
  <div class="jumbotron text-center">
      <h1>Dungeons and Discord</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <p>
                  <%= yield %>
              </p>
          </div>
          <div class="col-lg-6">
              <p>
                  <section>
                    <section class="navbar-header">
                       
                      <p class ="navbar-title">Character Stats for <%= params[:index].upcase %> </p>
                      <p class="navbar-subtitle"></p>
                    </section>
                      <section class="character-stats">
                        <%= form_tag("/users/char_stats", method: "post") do %>
                        <%= hidden_field_tag "index", params[:index] %>
                        <%= hidden_field_tag "char_id", params[:char_id] %>
                        <div class="form-group">
                          <%= label_tag :strength, 'Strength' %>
                          <div class="col-sm-10">
                            <%= number_field_tag :strength, nil, min: 1, max: 20, value: 1, id: "strength" %>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag :dexterity, 'Dexterity' %>
                           <div class="col-sm-10">
                            <%= number_field_tag :dexterity, nil, min: 1, max: 20, value: 1, id: "dexterity" %>
                           </div>
                        </div>
                        <div class="form-group">
                          <%= label_tag :constitution, 'Constitution' %>
                           <div class="col-sm-10">
                            <%= number_field_tag :constitution, nil, min: 1, max: 20, value: 1, id: "constitution" %>
                           </div>
                        </div>
                       <div class="form-group">
                          <%= label_tag :intelligence, 'Intelligence' %>
                           <div class="col-sm-10">
                            <%= number_field_tag :intelligence, nil, min: 1, max: 20, value: 1, id: "intelligence" %>
                           </div>
                       </div>
                       <div class="form-group">
                          <%= label_tag :wisdom, 'Wisdom' %>
                           <div class="col-sm-10">
                            <%= number_field_tag :wisdom, nil, min: 1, max: 20, value: 1, id: "wisdom" %>
                           </div>
                       </div>
                       <div class="form-group">
                          <%= label_tag :charisma, 'Charisma' %>
                           <div class="col-sm-10">
                            <%= number_field_tag :charisma, nil, min: 1, max: 20, value: 1, id: "charisma" %>
                           </div>
                       </div>
                            
                          <%= submit_tag('Submit', class: "button") %>
                        <% end %>
                            
                      </section>
                  </section>
              </p>
          </div>
      </div>
    </div>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_strength').click(function() {
        var currentValue = parseInt($('#strength').val());
        $('#strength').val(currentValue + 1);
    });

    $('#subtract_strength').click(function() {
        var currentValue = parseInt($('#strength').val());
        if (currentValue > 0) {
          $('#strength').val(currentValue - 1);
        }
    });
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_dexterity').click(function() {
        var currentValue = parseInt($('#dexterity').val());
        $('#dexterity').val(currentValue + 1);
    });

    $('#subtract_dexterity').click(function() {
        var currentValue = parseInt($('#dexterity').val());
        if (currentValue > 0) {
          $('#dexterity').val(currentValue - 1);
        }
    });
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_constitution').click(function() {
        var currentValue = parseInt($('#constitution').val());
        $('#constitution').val(currentValue + 1);
    });

    $('#subtract_constitution').click(function() {
        var currentValue = parseInt($('#constitution').val());
        if (currentValue > 0) {
          $('#constitution').val(currentValue - 1);
        }
    });
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_intelligence').click(function() {
        var currentValue = parseInt($('#intelligence').val());
        $('#intelligence').val(currentValue + 1);
    });

    $('#subtract_intelligence').click(function() {
        var currentValue = parseInt($('#intelligence').val());
        if (currentValue > 0) {
          $('#intelligence').val(currentValue - 1);
        }
    });
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_wisdom').click(function() {
        var currentValue = parseInt($('#wisdom').val());
        $('#wisdom').val(currentValue + 1);
    });

    $('#subtract_wisdom').click(function() {
        var currentValue = parseInt($('#wisdom').val());
        if (currentValue > 0) {
          $('#wisdom').val(currentValue - 1);
        }
    });
  <script type="text/javascript">
    $(document).ready(function() {
    $('#add_charisma').click(function() {
        var currentValue = parseInt($('#charisma').val());
        $('#charisma').val(currentValue + 1);
    });

    $('#subtract_charisma').click(function() {
        var currentValue = parseInt($('#charisma').val());
        if (currentValue > 0) {
          $('#charisma').val(currentValue - 1);
        }
    });
    </script>
  <%= render template: "layouts/application" %>