<% content_for :content do %>
  <div class="jumbotron text-center">
      <h1>Dungeons and Discord</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <p>
                  <%= yield %>
              </p>
          </div>
          <div class="col-lg-6">
              <p>
                  <section>
                    <section class="navbar-header">
                      <p class ="navbar-title">Character Creation</p>
                      <p class="navbar-subtitle">Build a character and get to playing your game with your pals!</p>
                    </section>
                    <section class="navbar-create-form">
                      <%= form_tag("/users/char_create", method: "post") do %>
                        <%= label_tag :name %>
                        <%= text_field_tag :name %>
                        <%= label_tag :index, 'Select Class' %>
                        <%= select_tag(:index, options_for_select(class_list), {class: "select-field"}) %>
                        <%= label_tag :race, 'Select Race' %>
                        <%= select_tag(:race, options_for_select(race_list), {class: "select-field"}) %>
                        <%= label_tag :alignment, 'Select alignment' %>
                        <%= select_tag(:alignment, options_for_select(alignment_list), {class: "select-field"}) %>
                        <%= submit_tag('Submit', class: "button") %>
                      <% end %>
                    </section>
                  </section>
              </p>
          </div>
      </div>
    </div>
  <% end %>
  <%= render template: "layouts/application" %>