<% content_for :content do %>
  <div class="jumbotron text-center">
      <h1>Dungeons and Discord</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <p>
                  <%= yield %>
              </p>
          </div>
          <div class="col-lg-6">
              <p>
                <section>
                  <section class="navbar-header">
                    <p class ="navbar-title">Character Proficiency for <%= params[:index].upcase %></p>
                    <p class="navbar-subtitle"></p>
                  </section>
                  <section class="navbar-create-form">
                    <%= form_tag("/users/#{params[:char_id]}/char_prof", method: "post") do %>
                    <p>Proficiency Choices: </p>
                    <p>Select ONLY two</p>
                      <% @facade.proficiency_choices.each do |prof| %>
                    <div>
                        <%= check_box_tag "proficiency_choices[]", prof[:item][:name] %>
                        <%= hidden_field_tag "index", params[:index] %>
                        <%= hidden_field_tag "char_id", params[:char_id] %>
                        <%= label_tag "proficiency_choices_#{prof[:item][:name]}", prof[:item][:name] %><br>
                    </div>
                      <% end %>
                      <%= submit_tag('Submit', class: "button") %>
                    <% end %>
                  </section>
                </section>
              </p>
          </div>
          <div>
            <u>Inherited Proficiencies for <%= params[:index].upcase %></u><br>
            <% @facade.proficiencies.each do |prof| %>
              <%= prof[:name] %><br>
            <% end %>
          </div>
      </div>
    </div>
  <% end %>
  <%= render template: "layouts/application" %>