<h1>Welcome, <%= current_user.username %> to Dungeons and Discord!!</h1>

<p> Make a new character!!!!!!!!!</p>
<div class="jumbotron">
    <%= link_to "New Character", "/users/char_create", method: :get %>
</div>

    <% @characters.each do |character| %>
      <%= character.name %>
      <%= character.race %>
      <%= character.char_class %>
      <%= character.alignment %><br>
    <% end %>
